body{
	background-image: url("includes/amazon.png");
	background-repeat: no-repeat;
	background-size: contain;
    background-position: 10% 5%;
	background-color: beige;
}

p{
	padding-left: 30px !important;
}

.header{
	position: relative;
    top: 370px;
}

.header h1{
	font-size: 59px;
    text-align: center;
    color: lightblue;
    font-family: Assistant;
}

.header p{
	font-size: 30px;
	font-family: Assistant;
	padding-left: 40px;
}

.help{
	font-size: 25px!important; 
	color:lightblue;
}

li{
	font-size: 25px;
    color: indianred;
    padding-left: 50px;
}

span{
	background: yellow;
}

h2{
	font-size: 38px;
	font-family: Assistant;
	padding-left: 30px;
	color: red;
}

footer{
	color: lightblue;
    position: relative;
    top: 350px;
    text-align: center;
    font-size: 41px;
    margin-bottom: 100px;
}